<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kosa.emerjeonsiBack.mapper.PaymentHistoryMapper">
    <insert id="insertPaymentHistory" parameterType="com.kosa.emerjeonsiBack.dto.PaymentHistory">
        INSERT INTO TB_Payment_History (paymentNo, paymentStatus, paymentEventTimestamp)
        VALUES (#{paymentNo}, #{paymentStatus}, CURRENT_TIMESTAMP)
    </insert>
</mapper>